@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600;700;800;900&family=Martel+Sans:wght@300;400;600;700;800;900&family=Shanti&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Biryani", 'Martel Sans', 'Shanti', sans-serif;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}

/*  HEADER - NAVBAR - LISTA DE NAVEGACIÓN*/
header {
    background: linear-gradient(to bottom,  #151525 , #242629);
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0px 30px 0px 30px;
    margin: 0 auto;
    z-index: 999;
}

.logo {
    width: 190px;
}

/* NAVBAR */

#navbar,
.navbar-list {
display: flex;
align-items: center;
justify-content: center;
}

#navbar {
    gap: 50px;
}

.navbar-list {
    gap: 30px;
}

.navbar-list a {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}

.navbar-list li:first-child > a {
    color: #fff;
    font-weight: 600;
}

/* SELECT - CATEGORIAS */

select[name="productos"] {
    height: auto;
    font-size: 16px;
}

select option[disabled] {
    display: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: #444;
}

.dropdown-select {
    display: inline-block;
    border: 1px solid #345;
    outline: none;
    background: linear-gradient(to bottom,  #1c1c31 , #242629);
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.dropdown-icon {
    position: absolute;
    right: 2px;
    top: 51%;
    transform: translateY(-50%);
    font-size: 14px;
    pointer-events: none;
}

.dropdown-select:hover {
    background-color: #f9f9f9;
}

.dropdown-select:focus {
    box-shadow: 0 0 0 2px #007bff;
}

.dropdown-select option {
    background-color: #fff;
    color: #444;
    font-size: 16px;
}

.dropdown-select option:hover {
    background-color: #f9f9f9;
}

.dropdown-select option:checked {
    background-color: #007bff;
    color: #fff;
}

/* NAVBAR-LOGIN */
.navbar-perfil{
    display: flex;
    align-items: center;
    gap: 10px;
}

.link > span{
    text-decoration: none;
}

.link > span:hover{
    text-decoration: underline;
}


/* MENU DESPLEGABLE - DISPLAY: NONE */
#menu-toggle,
#cart-toggle,
.menu-label {
display: none;
}

/* CARRITO */
.cart-icon {
    font-weight: 600;
    border-radius: 10px;
    margin-right: 1rem;
    font-size: 18px;
    color: #ff8906;
    cursor: pointer;
}

.cart {
    position: absolute;
    top: 65px;
    right: 0;
    padding: 50px 30px;
    background: linear-gradient(to bottom,  #1c1c31 , #242629);
    border-left: 1px solid var(--nav-bg);
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: calc(100vh - 65px);
    overflow-y: scroll;
    z-index: 2;
    /* display: none; Esto se va*/
    transform: translate(200%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

/*OCULTAR BARRA DE SCROLL DEL CARRITO*/
.cart::-webkit-scrollbar {
    display: none;
}

.cart h2 {
    color: #f9f9f9;
    font-size: 20px;
    font-weight: 600;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #2323234e;
    padding: 20px;
    border: 1px solid rgb(20, 44, 149);
    border-radius: 10px;
}

.cart-item img {
    height: 65px;
    width: 65px;
}

.item-info {
    display: flex;
    flex-direction: column;
}

.item-title {
    color: #f9f9f9;
    font-weight: 600;
    font-size: 14px;
}

.item-bid {
    color: gray;
    font-weight: 300;
    font-size: 12px;
}

.item-price {
    background: linear-gradient(to right, #fd9201, #e43170);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    font-size: 16px;
    font-weight: 800;
}

.item-handler {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.quantity-handler {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    border-radius: 5px;
    color: #f9f9f9;
    font-weight: 400;
}

.item-quantity {
    color: gray;
}

.up {
    border: 1px solid #044992;
}

.down {
    background-color: #044992;
    border: 1px solid #044992;
}

.divider {
    margin-top: 20px;
    border: 0.5px solid #044992;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.cart-total p {
    color: #fff;
    font-weight: 700;
}

.cart-total span {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}

/*Toggle del carro*/
#cart-toggle:checked + .cart {
    transform: translate(0%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

/* BUTTON-ADD */

.btn-add {
    background: #fd9201;
    border: none;
    padding: 10px 35px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

/* Form-log */
#form-log{
    margin: 150px auto;
    max-width: 1200px;
    display: grid;
    place-items: center;
    position: relative;
}

#form-log .forgot-pass{
    color:#1877f2;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

#form-log .forgot-pass:hover{
    text-decoration: underline;
}

#form-log .password {
    position: relative; /* agrega una referencia relativa al campo de contraseña */
    display: flex; /* convierte el campo de contraseña en un elemento flex */
}

#form-log #password-input {
    border-radius: 6px;
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    border: 1px solid #dddfe2;
    color: #1d2129;
    line-height: 16px;
    vertical-align: middle;
}


#username, .password {
    border-radius: 6px;
    font-size: 18px;
    padding: 14px 16px;
    width: 330px;
    letter-spacing: 2px;
    border: 1px solid #dddfe2;
    color: #1d2129;
    line-height: 16px;
    vertical-align: middle;
}



.form-btn{
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 
    200ms cubic-bezier(.08,.52,.52,1) box-shadow, 
    200ms cubic-bezier(.08,.52,.52,1) transform;
    box-sizing: content-box;
    color: #fff;
    font-weight: bold;
}

.form-btn:hover{
    background: #114cc3;
}

._8icz {
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
    width: 90%;
}

.regist-btn{
    background-color: #42b72a;
    border: none;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    border-radius: 6px;
    transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
}

.regist-btn #register-btn{
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    box-sizing: content-box;
    font-weight: bold;
    color: #fff;
}


.password{
    background: #404040;
    border-radius: 6px ;
    padding: 14px 16px;
    width: 330px ;
    height: 65px;
    position: relative;
    box-shadow: 0 0 12px 0px rgba(1, 1, 1, 0.25);
}

.password-background{
    position: absolute;
    width: 100%;
    height: 50%;
    border-radius: 6px;
    top: 0;
    transition: 0.2s all ease-in-out;
}

.password-toggle{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    appearance: none;
    outline: none;
    cursor: pointer;
}

.toggle-eye{
    position: absolute;
    top: 24px;
    right: 27px;
    font-size: 22px;
}

.toggle-eye.close{
    transition: 0.4s all ease-in-out;
}

.toggle-eye.open{
    transition: 0.2s all ease-out
}



.password-input{
    width: 200px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    background: none;
    border: none;
    font-size: 18px;
    color: #ffffff;
    outline: none;
    letter-spacing: 2px;
    transition: all 0.5s;
    -webkit-text-security: none;
}

.password-toggle:checked ~ .password-background{
    width: 50px;
    height: 50px;
    right: 12.5px;
    
}

.password-toggle:checked ~ .password-input{
    -webkit-text-security: circle;
    
}


.password-toggle:checked ~ .toggle-eye.close{
    opacity: 0;
}

/*SCROLL*/
/* Define el estilo del scrollbar */
::-webkit-scrollbar {
    width: 10px; /* ancho del scrollbar */
}

  /* Define el color del thumb (la barra que se mueve) */
::-webkit-scrollbar-thumb {
    background-color: #666; /* color del thumb */
}

  /* Define el color del fondo del scrollbar */
::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* color del fondo */
}