/* Tablet */
@media (max-width: 992px){

/* header */
ul{
    position: absolute;
    top: 65px;
    left: 0;
    right: 0%;
    width: 100%;
    flex-direction: column;
    background-color:black;
    border: 2px solid yellow;
    border-top: 0px;
    border-radius: 0px 0px 15px 15px;
    align-items: flex-start;
    padding: 60px 30px;
    gap: 25px;
    z-index: 2;
    display: none;
}

li .navbar__link{
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}

.login__text--link {
    position: absolute;
    top: 10px;
    display: flex;
    align-items: center;
    text-decoration: underline;
    color: #979796;
    font-size: 13px;
    margin-top: 5px;
}

.menu-label {
    display: flex;
    order: 2;
    cursor: pointer;
}

.menu-label img {
    height: 20px;
    width: 25px;
}

#menu-toggle:checked ~ ul{
    display: flex;
}

/*HERO*/
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: -100px;
    max-width: 960px;
    flex-wrap: wrap;
}

#hero .hero__info{
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#hero h1{
    width: 90%;
    max-width: 500px;
    min-width: unset; 
}

#hero p{
    width: 60%;
    max-width: 600px;
}

#hero .tamaño--img img{
    display: none;
}

/*Categorias de Productos*/
#product__categories .container__product{
    max-width: 100%;
}

#product__categories .categories-item{
    display: inline-flex;
    vertical-align: middle;
    width: 33.3%;
    height: 325px;
    padding: 5px;
    margin-right: 0;
}

#product__categories .categories__container{
    display: block;
    font-size: 0;
    line-height: 0;
}

#product__categories .categories-item img{
    width: 100%;
    height: auto;
}

}

@media (max-width: 768px){
    

    #product__categories .categories__container{
        display: block;
        font-size: 0;
        line-height: 0;
    }

    #product__categories .categories-item{
        display: inline-flex;
        vertical-align: middle;
        width: 33.3%;
        height: 250px;
        padding: 5px;
        margin-right: 0;
    }
}

@media (max-width: 590px){
    #product__categories .container__product{
        max-width: 100%;
    }

    #product__categories .categories-item{
        height: 245px;
        width: 49.8%;
    }
}
