@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600;700;800;900&family=Martel+Sans:wght@300;400;600;700;800;900&family=Shanti&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Biryani', 'Martel Sans', 'Shanti', sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #0f0e17;
    border:  2px solid red;
}

/*HEADER*/
#header{
    background: #595650;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0px 30px 0px 30px;
    margin: 0 auto;
    top: 0;
    z-index: 2; 
}

#header .header__navbar{
    display: flex;
    gap: 150px;
}

#header .navbar__img img{
    width: 190px;
}

#header ul{
    display: flex;
    gap: 25px;
}

#header .navbar__link{
    color: #fffffe;
    font-size: 14px;
    text-transform: uppercase;
}

#header .active{
    font-size: 14px;
    font-weight: bold;
}

#header label img{
    width: 29px;
}

/*SELECT-PRODUCT-NAVBAR*/
select.navbar__link--product{
    background: none;
    border: none;
    outline: none;
    font-size: 14px;
    text-transform: uppercase;
    color: #fffffe;
}

select.navbar__link--product option{
    color: #fffffe;
    background: #0f0e17;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}

select option[disabled] {
    display: none;
}

/* MENU HAMBURGUESA Desktop */
#menu-toggle, 
#cart-toggle,
.menu-label{
    display: none;
}

.cart-icon {
    font-weight: 600;
    border-radius: 10px;
    margin-right: 1rem;
    color: white;
    font-size: 18px;
    cursor: pointer;
}



/*carrito*/
.cart {
    position: absolute;
    top: 65px;
    right: 0;
    width: 400px;
    padding: 50px 30px;
    background: linear-gradient(to top, #0f0e17, #0f0e17);
    border-left: 1px solid #ab2122;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: calc(100vh - 65px);
    overflow-y: scroll;
    z-index: 2;
    transform: translate(200%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

/*OCULTAR BARRA DE SCROLL DEL CARRITO*/
.cart::-webkit-scrollbar {
    display: none;
}

.cart h2 {
    color: #fffffe;
    font-size: 20px;
    font-weight: 600;
}

.alert{
    color: #fffffe;
    font-size: 14px;
    text-transform: uppercase;
}

.divider {
    margin-top: 20px;
    border: 0.5px solid #a62122;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.cart-total p {
    color: #fffffe;
    font-weight: 700;
}

.cart-total span {
    color: #fffffe;
    font-weight: 400;
    font-size: 18px;
}

.btn-add {
    background: #ff8906;
    border: none;
    padding: 10px 35px;
    color: #fffffe;
    border-radius: 10px;
    cursor: pointer;
}

#header .login__text--link{
    display: flex;
    align-items: center;
    text-decoration: underline;
    color: #979796;
    font-size: 13px;
}

#header .login__text--link:hover{
    text-decoration: none;
}

#header .login__text--link img{
    width: 33px;
}

/*MAIN*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
}

/*HERO*/
#hero{
    padding: 70px 0;
    max-width: 1200px;
    margin: 65px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero .hero__info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

#hero h1{
    font-size: 40px;
    width: 80%;
    min-width: 500px;
    font-weight: 800;
}

#hero p{
    font-size: 14px;
    width: 70%;
}

#hero p > span{
    font-weight: 900;
}

#hero .tamaño--img img{
    width: 500px;
    height: 100%;
    border: 5px solid #ff8906;
    border-radius: 8px;
}

/*products*/
#products{
    padding: 70px 0;
    margin: 5px auto;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

#products h2{
    margin-top: 0px;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    text-transform: uppercase;
}

#products a{
    margin: 5px 5px;
    font-size: 16px;
    font-family: "Montserrat",sans-serif;
    white-space: nowrap;
    font-weight: 500;
    text-decoration: none;
}

#products a:hover{
    text-decoration: underline;
}

#products .btn{
    cursor: pointer;
    border: 2px solid #676767;
    padding: 5px 35px;
    line-height: 20px;
    color: #fffffe;
    text-align: center;
}

/*TTLE--COLOR*/
.title--color, h1, h2{
    color: #fffffe;
}
/*TEXT--COLOR*/
.text--color, p{
    color: #a7a9be;
}

#product__categories{
    padding: 40px 0; 
}

#product__categories .container__categories{
    position: relative;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
}

#product__categories .product__categories--container{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

#product__categories .product__categories--item{
    width: 16.665%;
    margin-right: 25px;
    height: 100%;
    overflow: hidden;
    text-align: center;
    position: relative;
    cursor: pointer;
}

#product__categories .product__categories--item h2{
    z-index: 4;
    position: relative;
    width: 100%;
    text-transform: uppercase;
    color: #fffffe;
    font-size: 20px;
    line-height: 30px;
    text-shadow: 0 0 5px rgb(0 0 0 / 50%);
    margin-top: 0;
    top: 40%;
    position: absolute;
    transition: margin-top ease-in-out .2s;
}

.product__categories--item h2:hover{
    
}

#product__categories .product__categories--item img{
    height: 100%;
    max-width: 100%;
    transform: scale(1.00);
    transition: opacity, transform ease-in-out .2s;
}

#product__categories img:hover{
    transform: scale(1.2);
    background: #46464641;
}

#product__categories .product__categories--item .product__categories--item--inside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: #464646;
    width: 100%;
    height: 100%;
}


