@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600;700;800;900&family=Martel+Sans:wght@300;400;600;700;800;900&family=Shanti&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Biryani", 'Martel Sans', 'Shanti', sans-serif;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}

/*  HEADER - NAVBAR - LISTA DE NAVEGACIÓN*/
header {
    background: linear-gradient(to bottom,  #151525 , #242629);
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0px 30px 0px 30px;
    margin: 0 auto;
    z-index: 999;
}

.logo {
    width: 190px;
}

/* NAVBAR */

#navbar,
.navbar-list {
display: flex;
align-items: center;
justify-content: center;
}

#navbar {
    gap: 50px;
}

.navbar-list {
    gap: 30px;
}

.navbar-list a {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}

.navbar-list li:first-child > a {
    color: #fff;
    font-weight: 600;
}

/* SELECT - CATEGORIAS */

select[name="productos"] {
    height: auto;
    font-size: 16px;
}

select option[disabled] {
    display: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: #444;
}

.dropdown-select {
    display: inline-block;
    border: 1px solid #345;
    outline: none;
    background: linear-gradient(to bottom,  #1c1c31 , #242629);
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.dropdown-icon {
    position: absolute;
    right: 2px;
    top: 51%;
    transform: translateY(-50%);
    font-size: 14px;
    pointer-events: none;
}

.dropdown-select:hover {
    background-color: #f9f9f9;
}

.dropdown-select:focus {
    box-shadow: 0 0 0 2px #007bff;
}

.dropdown-select option {
    background-color: #fff;
    color: #444;
    font-size: 16px;
}

.dropdown-select option:hover {
    background-color: #f9f9f9;
}

.dropdown-select option:checked {
    background-color: #007bff;
    color: #fff;
}

/* NAVBAR-LOGIN */
.navbar-perfil{
    display: flex;
    align-items: center;
    gap: 10px;
}

.link > span{
    text-decoration: none;
}

.link > span:hover{
    text-decoration: underline;
}


/* MENU DESPLEGABLE - DISPLAY: NONE */
#menu-toggle,
#cart-toggle,
.menu-label {
display: none;
}

/* CARRITO */
.cart-icon {
    font-weight: 600;
    border-radius: 10px;
    margin-right: 1rem;
    font-size: 18px;
    color: #ff8906;
    cursor: pointer;
}

.cart {
    position: absolute;
    top: 65px;
    right: 0;
    padding: 50px 30px;
    background: linear-gradient(to bottom,  #1c1c31 , #242629);
    border-left: 1px solid var(--nav-bg);
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: calc(100vh - 65px);
    overflow-y: scroll;
    z-index: 2;
    /* display: none; Esto se va*/
    transform: translate(200%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

/*OCULTAR BARRA DE SCROLL DEL CARRITO*/
.cart::-webkit-scrollbar {
    display: none;
}

.cart h2 {
    color: #f9f9f9;
    font-size: 20px;
    font-weight: 600;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #2323234e;
    padding: 20px;
    border: 1px solid rgb(20, 44, 149);
    border-radius: 10px;
}

.cart-item img {
    height: 65px;
    width: 65px;
}

.item-info {
    display: flex;
    flex-direction: column;
}

.item-title {
    color: #f9f9f9;
    font-weight: 600;
    font-size: 14px;
}

.item-bid {
    color: gray;
    font-weight: 300;
    font-size: 12px;
}

.item-price {
    background: linear-gradient(to right, #fd9201, #e43170);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    font-size: 16px;
    font-weight: 800;
}

.item-handler {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.quantity-handler {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    border-radius: 5px;
    color: #f9f9f9;
    font-weight: 400;
}

.item-quantity {
    color: gray;
}

.up {
    border: 1px solid #044992;
}

.down {
    background-color: #044992;
    border: 1px solid #044992;
}

.divider {
    margin-top: 20px;
    border: 0.5px solid #044992;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.cart-total p {
    color: #fff;
    font-weight: 700;
}

.cart-total span {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}

/*Toggle del carro*/
#cart-toggle:checked + .cart {
    transform: translate(0%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

/* BUTTON-ADD */

.btn-add {
    background: #fd9201;
    border: none;
    padding: 10px 35px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

/* MAIN */
main {
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
}

/* HERO */
#hero {
    margin-top: 65px;
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.hero-info h1 {
    font-size: 48px;
    width: 80%;
    min-width: 500px; /*Para que nunca ocupe menos que esto en desktop*/
    font-weight: 800;
    /*Agregamos gradiente en clase 10*/
    background: linear-gradient(to top, #d05d30, #372d39);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
}

.hero-info p {
    font-size: 14px;
    width: 70%;
    color: gray;
}

.hero-info p > span {
    font-weight: 800;
}

.hero-info a {
    color: var(--text-white);
    background-color: var(--primary);
    width: 120px;
    padding: 8px 0px;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
}

/* CATEGORIA DE PRODUCTOS */
/*PRODUCTOS*/
#productos{
    padding: 20px 0;
    margin: 65px auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

#productos .product__info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

#productos h2{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: white;
}

#productos .productos--categorias{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

#productos a{
    margin: 5px 5px;
    white-space: nowrap;
    font-weight: 500;
}

#productos .btn{
    cursor: pointer;
    display: inline-block;
    border: 2px solid;
    padding: 5px 35px;
    font-size: 100%;
    line-height: 20px;
    font-family: "Montserrat",sans-serif;
    text-align: center;
}

#productos .btn-color{
    color: #fffffe;
    border-color: #c73c05;
}

#productos .btn-color:hover{
    text-decoration: underline;
    color: #ea4848;
}

/* HOME CATEGORIAS */

#home-categories{
    padding: 40px 0;
}

.container{
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
}

.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#home-categories-container {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    gap: 10px;
}

.home-categories-item {
    width: 16.665%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.home-categories-item .home-categories-item-inside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.home-categories-item img {
    height: 100%;
    max-width: 100%;
    transition: opacity, transform ease-in-out .2s;
}

.home-categories-item img:hover{
    transform: scale(1.05);
}

.home-categories-item h2 {
    z-index: 10;
    position: relative;
    width: 100%;
    text-transform: uppercase;
    color: #FFF;
    font-size: 1.5rem;
    line-height: 30px;
    text-shadow: 0 0 5px rgb(0 0 0 / 50%);
    margin-top: 0;
    top: 40%;
    position: absolute;
    pointer-events: none;
    transition: margin-top ease-in-out .2s;
}

/* GENDER */

#cards-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    padding: 70px 0px;
    width: 95%;
}

#cards-section h2{
    color: #afa600;
}

#cards-section p{
    color: white;
}

.cards-container{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 300px;
    color: white;
}

/*CONTACTO*/
#contacto{
    max-width: 1100px;
    padding: 20px;
    margin: 65px auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    justify-items: center;
    box-shadow: 0 0 20px 0 rgb(255 255 255 / 30%);
    border-radius: 8px;
}

.contact-info{
    display: flex;
    flex-direction: column;
}

#contacto h2{
    text-transform: uppercase;
    letter-spacing: 3px;
}

#contacto p{
    width: 90%;
}

/* FORM */

form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;
}

input[type="text"],[type="email"],[type="tel"] {
    padding: 2px;
    font-size: 14px;
    border-radius: 4px;
    border: 2px solid #5a5a5a;
    width: 250px;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    background: #ffffff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: all ease-in-out .3s;
}

button:hover{
    transform: scale(1.1);
}

/* FOOTER */

.pie-pagina{
    width: 100%;
    background: linear-gradient(to bottom,  #23000c , #0a1a2a)
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #e03f3f;
    margin-right: 10px;
    background-color: #ffffff;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: rgb(0, 0, 0);
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}

/* Define el estilo del scrollbar */
::-webkit-scrollbar {
    width: 10px; /* ancho del scrollbar */
}

  /* Define el color del thumb (la barra que se mueve) */
::-webkit-scrollbar-thumb {
    background-color: #666; /* color del thumb */
}

  /* Define el color del fondo del scrollbar */
::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* color del fondo */
}
